folium==0.12.1.post1
geopandas==0.10.2
geopy==2.2.0
matplotlib==3.5.1
networkx==2.8
numpy==1.22.3
osmnx==1.1.2
pandas==1.4.2
pygeos==0.12.0
pyproj==3.3.1
requests==2.27.1
setuptools==61.2.0
Shapely==1.8.1.post1
